.bundle
*.swp
*.swo
*.swn
*.swm
*.swl
temp
tmp
todo
.ruby-version

taskd-1.*
config/location.yml
.sass-cache/

# This is still on a shared dir with mac osx
.DS_STORE

# Logging
log/

tools/log/
tools/config.yml
