:ruby
  type = locals[:type]
  additional_class = locals[:additional_class]
  klass = "#{type} #{additional_class}"
  raise ArgumentError, 'type required' unless type

.man{class: klass}
  %image{src: image_path("images/man_#{type}.png"), alt: type.capitalize}
