%p
  Now you don't have to have your own cloud server to sync your tasks.

%section.generate
  %a{href: 'freecinc_uniquely_generated_instructions'}
    .looks-like-button#generate
      Generate my keys!
  = haml :_man, locals: { type: :smile, id: :generate}

