%html
  %head
  %body
    %h1 FreeCinc
    %p A hosted solution for syncing your TaskWarrior client
    %p Now you don't have to have your own cloud server to sync your tasks

    %h2 Requirements
    %ul
      %li taskwarrior 2.3.0 or above

    = link_to 'generate', 'Generate my keys!'

