%html
  %head
    = stylesheets
  %body
    #content
      #header
        #logo
          %h1
            Free
            %span Cinc
        #cityscape
          #subtitle
            A hosted solution for syncing
            %br
            your TaskWarrior client.

      #the-rest
        =yield

      #footer
        created by
        %a{href: 'mailto:jackdesert@gmail.com?subject=FreeCinc%20Help'}
          Jack Desert

