!!! 5
:ruby
  title = yield_content(:title)
  default_title = "FreeCinc: a Hosted Solution for Syncing your TaskWarrior Client"
  title = default_title if title.empty?
%html
  %head
    %title= title
    = stylesheets
  %body
    #content
      #header
        = haml :_navigation
        #logo
          %h1
            Free
            %span Cinc
        #cityscape
          #subtitle
            A hosted solution for syncing
            %br
            your TaskWarrior client.

      #the-rest
        #status We apologize for the inonvenience---Freecinc has been down since July 1, 2015. Working on it --Jack jackdesert@gmail.com 
        =yield

      #footer
        .row.created-by
          created by
          %a{href: "mailto:#{author_email}?subject=FreeCinc"}
            Jack Desert
        .row.terms
          %a{href: terms_path} Terms & Conditions

