%h1 Terms & Conditions
%h2.terms Why Terms and Conditions?
%p.terms These terms and conditions are here so you know what you can expect from FreeCinc.

%h2.terms Privacy
%p.terms TaskServer (and thus FreeCinc) currently provides encrypted communication, but not encrypted storage. That is, your tasks are encrypted on the way to our server, but once on our server they are stored in plain text. Therefore, our server administrators will have access to your tasks and to the keys and tokens that you use to authenticate yourself with our server.

%h2.terms Information we Collect
%p.terms FreeCinc does not collect any personally identifiable information except the actual content of the tasks that you sync. We may collect information about the client you use to access our services. This includes things like IP addresses, the type of browser and device you use, the web page you visited before coming to our sites, and identifiers associated with your devices.

%h2.terms What we Share
%p.terms Normally, we don't share anything. However, we may disclose your information to third parties if we determine that such disclosure is reasonably necessary to (a) comply with the law; (b) protect any person from death or serious bodily injury; (c) prevent fraud or abuse of FreeCinc or our users; or (d) protect FreeCinc's property rights.

%h2.terms Key Revocation
%p.terms FreeCinc reserves the right to revoke keys at any time, including but not limited to a reasonable length life of an asymmetric key pair, or if a security vulnerability is found. In the case of such a revocation, you may simply use our server to generate a new set of keys and configuration.

%h2.terms Hardware Failure
%p.terms FreeCinc shall not be responsible for any loss of data that you incur. In case of hardware failure or key revocation, you may be unable to access your synced tasks. Normally this should not present a problem, since one of your clients should include your latest changes.

%h2.terms Leaving
%p.terms Should you decide to no longer use FreeCinc, any tasks you have already synced with our servers will remain on our servers. We currently do not offer such thing as "delete my account".

%h2.terms Questions and Concerns
%p.terms= "If you have questions or concerns about FreeCinc, our services, or privacy please <a href='#{author_email}?subject=Questions%20or%20Concerns'>contact us</a>."
.space.terms
