<!DOCTYPE html>
<html>
    <head>
        <title>Graph</title>
        <link href="reset.css" rel="stylesheet" type="text/css">
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id='z-container'>
            <div id='zoomed-note'></div>
            <div id='date-container' class='long-container'></div>
            <div id='graph-container' class='long-container' ></div>
            <div id='note-container' class='long-container' ></div>
            <button id='cycle-next'>&#8594;</button>
            <button id='cycle-previous'>&#8592;</button>
        </div>

        <div id='footer'>
            <script src="jquery-2.1.0.js" type="text/javascript"></script>
            <script src="barGraph.js" type="text/javascript"></script>
            <script src="dates.js" type="text/javascript"></script>
            <script src="notes.js" type="text/javascript"></script>
            <script type="text/javascript">
                var dataFromController = DATA_FROM_CONTROLLER
            </script>
        </div>
    </body>
</html>
